<div class="Heading">

  <table align="center" border="1">
    <tr>
      <th>Enter Name</th>
      <input type="type" />    
    </tr>
    <tr>
      <th>Enter Last Name</th>
      <input type="type" /> 
    </tr>
    <tr>
      <th>Enter Age</th>
      <input type="type" /> 
    </tr><tr>
      <th>Gender</th>
      <th>
      <input type="checkbox" /> <label>Male</label>
      <input type="checkbox" /> <label>Female</label>
    </th>
    </tr>
    <tr>
      <input type="button" style="width: 100px;" value="Submit" >
    </tr>
  </table>
  <Form>
    
  </Form>
</div>